.header-wrapper{
  width: 100%;
  line-height: 42px;
}
.header-fixed{
  width: 93%;
  margin: 0 auto;
}
.phone-div{
  width: 127px;
  padding-left: 12px;
  float: left;
}
.nav-menu{
  margin-top: 42px;
}
.nav-hamburger{
  width: 12px;
  height: 12px;
  float: right;
  padding-top: 15px;
}
.hamburger-btn{
  width: 12px;
  height: 12px;
}
.search-bar{
  width: 145px;
  margin-top: 10px;
  padding-left: 10px;
  float: left;
}
.search-btn{
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 4px;
  margin-right: 3px;
}
.mycart{
  width: 60px;
  height: 20px;
  float: right;
  margin-top: 10px;
}